.food {
	width: 100%;
	height: 17%;
	border: 2px solid black;
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: space-between;
}

.food_img{
	/* width: 75px; */
	/* padding-right: 80; */
	height: 80%;
    border-radius: 30%;
    overflow: hidden;
	border: 2px solid black;
	/*display:inline-block;*/
}
