.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: pink;
}

.up {
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cart {
	border: 1px solid black;
	height: 35%;
}

.sidebar {
	width: 10%;
}

.menupan {
	width: 70%;
}

.icons {
	width: 20%;
	height: 100%;
	padding-left: 2%;
}

.icon {
	height: 20%;
}

.cart {
	display: flex;
	flex-direction: column;
}

.cart span{
	font-size: 30px;
}

.cart title {
	height: 18%;
	display: flex;
	flex-direction: column;
	background-color: red;
}

.cart img {
	height: 5%;
	border-radius: 70%;
	border: 4px solid black;
	background-color: white;
}
