.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.up {
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}


.sidebar {
	width: 10%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.category {
	padding-top: 20px;
}

.menupan {
	width: 70%;
}


.icons {
	width: 20%;
	height: 100%;
	padding-left: 2%;
}

.icon {
	height: 20%;
}

.cart {
	border: 1px solid black;
	height: 35%;
	display: flex;
	flex-direction: column;
	background-color: rgb(210, 250, 237);
	/* align-items: center;
	justify-content: center; */
}

.cart span{
	font-size: 30px;
	border-radius: 10%;
	/* padding-left: 10%;
	padding-right: 10p%; */
}

.cart_title {
	height: 18%;
	display: flex;
	flex-direction: row;
	border: 3px solid black;
	justify-content: space-between;

}

.cart img {
	height: 90%;
	border-radius: 70%;
}

.Zone {
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 35%;
}

.ablock {
	background-color: white;
	align-items: center;
	width: 20%;
}

.bblock {
	background-color: gray;
	align-items: center;
	width: 20%;
}

.icon {
	margin-top: 10px;
}
