.two {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.one_third {
	height: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.one_third img {
	height: 50%;
}
