.two {
	height: 100vh;
	background-color: pink;
	display: flex;
	flex-direction: column;
}

.one_third {
	height: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.one_third img {
	height: 60%;
	border-radius: 70%;
	border: 4px solid black;
	background-color: white;
}
