.icon {
	/* width: 150px;
    height: 150px; */
	/* width: 25%;
	height: 25%;
    border-radius: 80%;
    overflow: hidden;
	background: #BDBDBD; */
}

.icon_img {
	width: 40px;
	height: 40px;
    border-radius: 70%;
    overflow: hidden;
	border: 4px solid black;
	/* width: 100%;
    height: 100%;
    object-fit: cover; */
}
